<?xml version="1.0"?>

<launch>
	<param name = "offset_file_path" value="$(find op3_manager)/config/offset.yaml"/>
	<param name = "robot_file_path"  value="$(find op3_manager)/config/OP3.robot"/>
	<param name = "init_file_path"   value="$(find op3_manager)/config/dxl_init_OP3.yaml"/>
	<param name = "device_name"      value="/dev/ttyUSB0"/>

	<node pkg="op3_localization" type="op3_localization" name="op3_localization_motion_replay" output="screen"/>
	<node pkg="op3_motion_replay" type="op3_motion_replay_node" name="op3_motion_replay_node" output="screen"/>
</launch>
